*{
     padding:0;
     margin:0;
     box-sizing: border-box;
     border: none;
     outline: none;
     font-style: "Popins", sans-serif;

}
body{
    background-color: #f7f7f7;;
}
.wrapper{
    width:95%;
    margin:0 auto; 
}
/* ///////////////////////  search bar start ////////////////////// */
#search-container{
    margin: 1em 0;
    ;
}
#search-container input{
    background-color: transparent;
    width:40%;
    border-bottom: 2px solid tomato;
    padding: 1em 03em;

}
#search-container input:focus{
border-bottom-color: rgb(242, 176, 176);

}
#search-container button{
    padding: 1em 2em;
    margin-left: 1em;
    background-color:tomato;
    color:  #fff;
    border-radius: 5px;
    margin-top: 0.5em;
}
/* ////////////////////////// search bar ends /////////////////// */
.button-value {
    border: 2px solid tomato;
    padding:.3em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: tomato;
    cursor: pointer;
}
.active {
    background-color: tomato;
    color: #fff;
}



/* ////////////////////////////////////////////// */

.details{
    
}

.filterDiv {
    display:flex;
    display: none;
  }
  
    img{
      
      padding:10px;
      margin:25px;
      /* scroll-snap-type: inline mandatory; */
      border: 2px solid black;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  img:hover{
    scale: 1.01;
  
  }
  
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    
    display:flex;
    flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
  
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
  button{
    width:10%
  }
  .pro{
    padding:1px;
  }
  @media (max-width: 480px){
    button{
        width:20%;
    }
    img{
        width:auto auto;
    }
  }
  @media (max-width: 320px){
    button{
        width:30%;
    }
    
  }