@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


*{
    margin: 0; 
    padding: 0%;
   }
   .sidebar{
    background-color:hsl(180, 57%, 95%);
    width: 250px;
    height:100vh;
   } 
   .main{
    /* background-color: rgb(241, 217, 222); */
    width:92vw;
    font-family:cursive;
    padding:1%;
   }
   .container{
    display:flex;
   }
   .sidebar nav{
    padding:1px;
   }
   .sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding:30px;
    font-family:cursive;
   }
   .sidebar nav li a {
    text-decoration: none;
    color:blueviolet;
   }
   /* #r{
    height: 19;
    width: 200px;
   } */
   .infocontainer{
    /* background-color: antiquewhite; */
    height:57vh;
    width:76vw;
    margin:144px  auto ;
    display:flex;
    justify-content:space-around;
    

   }
   .shayari{
    font-family: informal roman;
    font-size:larger;
    padding:1%;
    }
    .devinfo{
        padding: 90px;
        font-size: x-large;
    }
    #name{
        font-size: 300%;
        font-family: 'Dancing Script', cursive;    
    }
    .devinfo{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .button{
        margin-top: 34px;
    }
    .button button{
        padding: 9px 14px;
        border-radius: 30px;
        color:rgb(183, 111, 60);
        background-color:rgb(227, 248, 207);
        font-family: cursive;
        margin:0 3px;
        cursor: pointer;

    }
    .button button:hover{
        color:rgb(240, 243, 225);
        background-color:rgb(171, 124, 69);
    }
    .devpic img{
        width: 377px;
        height: 57vh;
    }